<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Mobile_Project.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <Mobile_Project.Properties.Settings>
            <setting name="FileUrlBefore" serializeAs="String">
                <value>http://202.114.66.77:3000/FileUrlBefore/</value>
            </setting>
            <setting name="MqttUrl" serializeAs="String">
                <value>202.114.66.77</value>
            </setting>
            <setting name="FileUrlAfter" serializeAs="String">
                <value>http://202.114.66.77:3000/FileUrlAfter/</value>
            </setting>
        </Mobile_Project.Properties.Settings>
    </userSettings>
</configuration>